@import "tailwindcss";

@layer utilities {
  .preserve-3d {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .perspective-1000 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
